<!doctype html>

<title>Photoshare</title>

<p>You should <a href='/login'>login!</a></p>
<p>You should <a href='/register'>register!</a></p>

<p>Statistics: <a href='/statistics'>top ten users!</a></p>
{% if albums %}
<h2>Browswe through some albums</h2>
    <ul>
    {% for album in albums %}
        <li><a href="/albums/{{album[0]}}">{{album[1]}}</a></li>
    {% endfor %}
    </ul>
{% endif %}

<hr>
<ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/register'>Register</a> </li>
    <li><a href='/tags'>Search</a> </li>
    <li><a href='/recommendations'>Recommendations</a> </li>
</ul>

