<!doctype html>
<title>Photoshare</title>


{% if name %}
  <h1>This is {{ name }}'s profile!</h1>
{% endif %}

{% if friendship==False %}
<form action='addfriend' method='POST'>
    <button name="friendship" type="submit" value="{{pageid}}">Add Friend!</button>
</form>
{% endif %}

{% if albums %}
<h2>Here are their albums</h2>
    <ul>
    {% for album in albums %}
        <li><a href="/albums/{{album[0]}}">{{album[1]}}</a></li>
    {% endfor %}
    </ul>
{% endif %}

<hr>
<ul>
    <li><a href='/upload'>Upload a photo</a> </li> 
    <li><a href='/friends'>Friends</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/profile'>Profile</a></li>
</ul>
